.image-grid {
    display: grid;
    background-color: #f6f6f6;
    grid-template-columns: repeat(3, 1fr); /* 3 columns maximum */
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    justify-items: center;
  }
  
  @media (max-width: 1000px) {
    .image-grid {
      grid-template-columns: repeat(2, 1fr); /* Change to 2 cards on medium screens */
      justify-content: center;
      justify-items: center;
    }
  }
  
  @media (max-width: 680px) {
    .image-grid {
      grid-template-columns: 1fr; /* Change to 1 card on small screens */
      justify-content: center;
      justify-items: center;
    }
  }