.search-bar {
    width: 195px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f6f6f6;
    transition: border-color 0.2s;
  }
  
  .search-bar:focus {
    border-color: #007bff;
    outline: none;
  }

  @media (max-width: 680px) {
    .search-bar {
      margin-top: 0.5rem; /* Space between the search bar and the logo */
    }
  }